body {
  background-image: url("./images/background.jpg");
  background-size: cover;
  font-family: "Lora", serif;
  border: 0px;
  margin: 0px;
  padding: 0px;
  height: 100vh;
  overflow: hidden;
}

.page {
  box-sizing: border-box;
  padding: 5px;
  display: flex;
  height: 100%;
  min-height: 100%;
  flex-direction: column;
  background-color: saddlebrown;
}
.content {
  background-color: blue;
  box-sizing: border-box;
  display: flex;
  height: 100%;
  min-height: 100%;
  margin-bottom: 20px;
}
footer {
  position: absolute;
  background-color: transparent;
  bottom: 5px;
}
.left {
  padding: 10px;
  background-color: rgb(65, 65, 65);
  color: aliceblue;
  width: 20%;
}
.about {
  padding: 10px;
  border-bottom: 1px solid;
}

.myInfo {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.myPhoto {
  border-radius: 20px;
  width: 200px;
  height: 200px;
}

.myDetail {
  position: relative;
  font-size: 48px;
  font-weight: 700;
}

.myContactDetail {
  display: flex;
  flex-direction: column;
  line-height: 2;
}

.right {
  padding-bottom: 20px;
  box-sizing: border-box;
  background-color: antiquewhite;
  color: rgb(22, 22, 22);
  display: flex;
  flex-direction: column;
  width: 100%;
}

.right .myInfo {
  flex-direction: row;
  height: 200px;
  border-bottom: 1px solid;
  justify-content: space-between;
}

.companyRecord {
  display: flex;
}

.companyInfo {
  display: flex;
  position: relative;
  flex-direction: column;
  padding-right: 10px;
  max-width: 320px;
  border-right: 1px dotted rgb(141, 142, 144);
}

.companyName {
  font-size: larger;
  font-weight: 700;
}

.dot {
  min-width: 16px;
  min-height: 16px;
  position: absolute;
  right: -9px;
  top: 10px;
  background-color: rgb(141, 142, 144);
  border-radius: 50px;
  display: inline;
}

.employmentResponsibilities {
  margin-left: 15px;
  margin-top: 5px;
  width: 100%;
}

.companyDuration {
  padding-left: 20px;
  font-size: smaller;
  min-width: 300px;
}

.history {
  padding: 0px 10px;
  overflow-y: auto;
  height: calc(100%-250px);
}

@media screen and (max-width: 425px) {
  body {
    background-image: unset;
    background-size: unset;
    background-color: red;
  }
  .page {
    margin: 0px 0px;
    padding: 0px 5px;
    flex-direction: row;
    background-color: rgb(65, 65, 65);
    overflow: scroll;
  }
  .content {
    flex-direction: column;
  }
  .left {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0px;
    padding-top: 40px;
  }

  .about {
    padding-bottom: 30px;
    border-bottom: none;
  }
  .right {
    padding: 0px;
  }

  .right .myInfo {
    display: flex;
    flex-direction: column;
    align-items: start;
    min-width: unset;
  }

  .companyDuration {
    padding-left: 20px;
    font-size: smaller;
    min-width: 120px;
  }
}
